aside {
    width: 200px; /* Ancho de la barra lateral */
    background-color: #343a40; /* Color de fondo oscuro */
    color: #ffffff; /* Texto en blanco */
    padding: 1rem; /* Espaciado interno */
    height: calc(100vh - 60px); /* Ajustar la altura restando la altura del header */
    position: relative; /* Cambiar a posición relativa */
    top: 60px; /* Ajustar la posición para que comience después del header */
  }
  
  aside nav ul {
    list-style: none; /* Eliminar viñetas de la lista */
    padding: 0;
    margin: 0;
  }
  
  aside nav ul li {
    margin: 1rem 0; /* Espaciado vertical entre elementos */
  }
  
  aside nav ul li a {
    color: #ffffff; /* Color del enlace en blanco */
    text-decoration: none; /* Sin subrayado en los enlaces */
    font-weight: bold; /* Texto en negrita */
  }
  
  aside nav ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
  }
  